autocomplete_classes.py
Custom.txt
main.py
newautocorrect4.py
newautocorrect5.py
__pycache__/autocomplete_classes.cpython-310.pyc
build/newautocorrect4/Analysis-00.toc
build/newautocorrect4/base_library.zip
build/newautocorrect4/EXE-00.toc
build/newautocorrect4/newautocorrect4.exe.manifest
build/newautocorrect4/newautocorrect4.pkg
build/newautocorrect4/PKG-00.toc
build/newautocorrect4/PYZ-00.pyz
build/newautocorrect4/PYZ-00.toc
build/newautocorrect4/warn-newautocorrect4.txt
build/newautocorrect4/xref-newautocorrect4.html
build/newautocorrect4/localpycs/pyimod01_archive.pyc
build/newautocorrect4/localpycs/pyimod02_importers.pyc
build/newautocorrect4/localpycs/pyimod03_ctypes.pyc
build/newautocorrect4/localpycs/pyimod04_pywin32.pyc
build/newautocorrect4/localpycs/struct.pyc
